@import "../common/common.module.scss";

slogan {
  .description {
    text-align: center;
    font-size: $descbig;
    margin: 0 auto;
    font-weight: 500;
    .readmore {
      padding: 0.2rem 0.5rem;
      background: $mayan_color;
      width: max-content;
      border-radius: 0.5rem;
      margin-left: auto;
      margin-right: auto;
      margin-top: 1rem;
      transition: 0.2s all linear;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
