@import "../common/common.module.scss";
.hero_text {
  font-size: $headerbig;
  font-weight: 700;
  text-align: center;
  span {
    color: $mayan_color;
  }
}
.hero_desc {
  font-size: $headersmall;
  text-align: center;
  color: $fontsecondary;
}

@media only screen and (max-width: 768px) {
  .hero_text {
    font-size: $headersmall;
  }
  .hero_desc {
    font-size: $desc;
  }
}
