@import "../common/common.module.scss";

.teamdetails {
  // width: 80ch;
  width: 80%;
  margin: 0 auto;
  .image {
    margin: 0 auto;
    width: max-content;
    img {
      height: 20vh;
      border-radius: 30px;
    }
  }
  .name {
    width: fit-content;
    margin: 0 auto;
    font-size: $descbig;
    span {
      color: $mayan_color;
    }
  }
  .desc {
    margin: 2rem auto;
    text-align: center;
    font-size: $descbig;
  }
}

@media screen and (max-width: 768px) {
  .teamdetails {
    .image {
      img {
        height: 10vh;
      }
    }
    .name {
      font-size: $desc_small;
    }
    .desc {
      font-size: $desc_small;
    }
  }
}
