@import "../common/common.module.scss";

team {
  .team_top {
    font-size: $headerbig;
    text-align: center;
    font-weight: 700;
    margin-top: 2rem;
  }
  .team {
    display: flex;
    flex-wrap: wrap;
    .member {
      position: relative;
      padding: 2rem;
      margin: 1rem;
      width: fit-content;
      min-height: fit-content;
      background: $background_secondary;
      border-top-left-radius: 30px;
      border-bottom-right-radius: 30px;
      flex: 1 1 250px;
      .member_image {
        margin: 0 auto;
        width: fit-content;
        img {
          width: 5rem;
          border-radius: 50%;
        }
      }
      .member_desc {
        padding: 0 0 2rem 0;
      }
      .member_name {
        position: absolute;
        width: 100%;
        bottom: 1rem;
        &::after {
          position: absolute;
          content: "";
          bottom: 1.5rem;
          left: 0;
          height: 2px;
          background: rgb(105, 105, 105);
          width: 80%;
          opacity: 0.8;
        }
        span {
          color: $mayan_color;
        }
      }
    }
  }
}

.mouseover_member {
  // position: relative;
  padding: 2rem;
  margin: 1rem;
  width: fit-content;
  height: max-content;
  background: $background_secondary;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  flex: 1;
  .mouseover_member_social {
    font-size: $header;
    display: flex;
    a {
      transition: 0.2s color ease-in-out;
      &:hover {
        color: $mayan_color;
        // background: teal;
      }
    }
  }
}
