@import "../../common/common.module.scss";

.video {
  width: fit-content;
  position: relative;
  margin: 0 auto;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
  .play_btn {
    position: absolute;
    font-size: 3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $mayan_color;
  }
}

.videoplayer {
  margin: 2rem auto;
  width: 40%;
  // background: teal;
  position: relative;
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
  img {
    width: 100%;
    cursor: pointer;
  }
  .play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
    cursor: pointer;
  }
}
@media only screen and (max-width: 888px) {
  .videoplayer {
    width: 100%;
  }
}

.caption {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}
.caption2 {
  text-align: center;
  font-size: 2.3rem;
  font-weight: 700;
}
.video_container {
  .title_container {
    position: relative;
    .video_title {
      margin: 2rem 0;
      font-size: 2rem;
      font-weight: 600;
      width: max-content;
      padding: 0.2rem 2rem;
      background: #7f005b;
      color: white;
    }
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 3px;
      background: black;
      bottom: 0;
      left: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .video_container {
    .caption {
      font-size: $desc_small;
    }
    .caption2 {
      font-size: $desc_small;
    }
  }
}
