@import "../common/common.module.scss";
header {
  position: relative;
  padding: 2rem 0rem;
  .extra_info {
    text-align: center;
    color: aliceblue;
    font-size: medium;
    padding: 0.5rem;
  }
  .appbar {
    // width: 100%;
    display: flex;
    // background: $background_primary;
    h5 {
      padding: 0.5rem;
      cursor: pointer;
    }
  }
  .navlist {
    display: flex;
    margin-left: auto;
    .nav_item {
      padding: 1rem;
      color: whitesmoke;
      font-size: ($headersmall);
      font-weight: 800;
      cursor: pointer;
    }
  }
}
