@import "../common/common.module.scss";
header {
  position: relative;
  padding: 0.5rem 0rem;
  .extra_info {
    color: aliceblue;
    font-size: medium;
    // padding: 0.5rem;
    display: flex;
    width: fit-content;
    margin: 0 auto;
    div {
      margin: 0 1rem;
      color: $mayan_color;
      padding: 0 1rem;
      position: relative;
      h2 {
        margin-left: 1rem;
        display: inline;
        font-size: 1rem;
      }
      &::after {
        position: absolute;
        content: "";
        height: $desc;
        width: 2px;
        background: $mayan_color;
        right: 0;
        top: 0.2rem;
      }
      position: relative;
      span {
        position: absolute;
        left: 0.5rem;
        bottom: -0.1rem;
      }
    }
  }
  @media screen and (max-width: 768px) {
    .extra_info {
      flex-wrap: wrap;
    }
  }

  .appbar {
    // width: 100%;
    display: flex;
    // background: $background_primary;
    h5 {
      padding: 0.5rem;
      cursor: pointer;
    }
  }
  .navlist {
    display: flex;
    margin-left: auto;
    .nav_item {
      padding: 1rem;
      color: whitesmoke;
      font-size: ($headersmall);
      font-weight: 800;
      cursor: pointer;
      position: relative;
      .services {
        padding: .5rem .2rem;
        font-size: 1rem;
        background: $background_secondary;
        list-style: none;
        position: absolute;
        left: 1rem;
        top: 3rem;
        z-index: 99;
        width: max-content;
        border-radius: 10px;
        li {
          padding: 0rem .5rem;
          display: block;
          font-size: 1rem;
          font-weight: 300;
          position: relative;
          transition: .3s all ease-in-out;
            &:hover::after{
              content: "";
              height: 2px;
              left: 0;
              width: 100%;
              position: absolute;
              bottom: -0.1rem;
              background: $mayan_color;
            }
        }
      }
    }
  }
  .dropdown {
    margin: 0;
    padding: 0;
    background: chocolate;
    border: none;
  }

  @media screen and (max-width: 768px) {
    .navlist {
      flex-direction: column;
    }
  }
}
