@import "../common/common.module.scss";

.carousel {
  margin: 2rem 0;
  .hero_main {
    display: flex !important;
    flex-wrap: wrap;
    .image {
      flex: 1 1 70%;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
    .text {
      flex: 1 1 20%;
      // width: 100%;
      align-self: center;
      display: flex;
      flex-direction: column;
      h4 {
        // position: absolute;
        // right: 0;
        text-align: center;
        font-size: $desc;
      }
      button {
        position: relative;
        padding: 0.5rem 4rem 0.5rem 2rem;
        display: block;
        width: fit-content;
        margin: 0 auto;
        margin-top: 1rem;
        background: $mayan_color;
        border-radius: 30px;
        color: white;
        font-size: 2rem;
        font-weight: 700;
        border: none;
        cursor: pointer;
        transition: 0.2s transform ease-in-out;
        &:hover {
          transform: scale(1.05);
        }
        &::after {
          content: "→";
          height: 3.25rem;
          width: 3.25rem;
          position: absolute;
          bottom: -0.5rem;
          right: 0;
          border-radius: 5px;
        }
      }
    }
  }
  // .normal_hero {
  //   img {
  //     height: 50vh;
  //     width: 100%;
  //     object-fit: cover;
  //   }
  // }
}

@media screen and (max-width: 768px) {
  .carousel {
    height: fit-content;
    .hero_main {
      flex-wrap: wrap;
      position: unset;
      .image {
        flex: 1 1 70%;
        img {
          width: 100%;
          object-fit: cover;
        }
      }
    }
    .hero_main {
      .text {
        flex: 1 1 20%;
        // width: 100%;
        align-self: center;
        display: flex;
        flex-direction: column;
        h4 {
          text-align: center;
          font-size: $desc_small;
        }
        button {
          font-size: 1rem;
          &::after {
            bottom: -1.55rem;
            right: 1rem;
          }
        }
      }
    }
  }
}
