@import "./components/common/common.module.scss";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap");

body {
  background-color: $background_primary;
  background-image: url(../src/assets/img/illustration1.svg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: rgb(231, 231, 231);
  .banner {
    background: rgb(255, 0, 0);
    height: 4rem;
    // cursor: pointer;
    .banner_content {
      width: max-content;
      margin: 0 auto;
      padding-top: 0.5rem;
      font-size: 1.2rem;
      font-weight: 800;
      letter-spacing: 0.1rem;
      font-family: "Raleway", sans-serif;
      a {
        cursor: pointer;
        text-decoration: underline;
        margin: 0 1rem;
      }
      a:nth-child(2) {
        display: block;
        width: fit-content;
        margin: 0 auto;
      }
    }
  }
  @media only screen and (max-width: 768px) {
    body {
      .banner {
        height: 2rem;
        .banner_content {
          letter-spacing: 0.05rem;
          font-size: 0.5rem;
          a:nth-child(2) {
            display: block;
          }
        }
      }
    }
  }
  .popup {
    position: fixed;
    height: 100%;
    width: 100%;
    background: $background_primary;
    background: rgba(22, 23, 25, 0.8);
    z-index: 9999;
    overflow-y: scroll;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
      display: none;
    }
    .popup_content {
      background: $mayan_color;
      margin: 5rem auto;
      width: 60%;
      form {
        label {
          margin: 0;
        }
        span {
          padding: 1rem;
        }
        flex: 1;
        textarea {
          margin: 1rem 0;
          display: block;
          width: 100%;
          height: 5rem;
          min-width: 5ch;
          padding: 5px;
          border: none;
          border-bottom: 2px solid $mayan_color;
          background: $background_secondary;
          font-size: 1.2rem;
          border-radius: 5px;
          resize: vertical;
          color: white;
          &::placeholder {
            color: white;
            font-weight: 700;
            opacity: 0.2;
          }
          &:focus {
            outline: none;
          }
        }
        button {
          width: max-content;
          color: black;
          padding: 0.5rem 1rem;
          display: block;
          margin: 0.5rem auto;
          border-radius: 10px;
          font-weight: 700;
          border: none;
          cursor: pointer;
          transition: 0.3s all ease-in-out;
          &:hover {
            background: rgb(214, 167, 46);
          }
        }
        input[type="text"],
        input[type="email"],
        select {
          margin: 0.5rem 0;
          display: block;
          width: 100%;
          min-width: 5ch;
          padding: 5px;
          border: none;
          height: 1.9rem;
          border-bottom: 2px solid $mayan_color;
          background: $background_secondary;
          font-size: 1.2rem;
          border-radius: 5px;
          resize: vertical;
          color: white;
          &::placeholder {
            color: white;
            font-weight: 700;
            opacity: 0.2;
          }
          &:focus {
            outline: none;
          }
        }
        input[type="button"] {
          width: max-content;
          color: black;
          padding: 0.5rem 1rem;
          display: block;
          margin: 0.5rem auto;
          border-radius: 10px;
          font-weight: 700;
          border: none;
          cursor: pointer;
          transition: 0.3s all ease-in-out;
          &:hover {
            background: rgb(214, 167, 46);
          }
        }

        position: relative;
        .submitbtn {
          padding: 0.5rem 1rem;
          width: fit-content;
        }
        .cross {
          cursor: pointer;
          position: absolute;
          font-size: 2rem;
          right: 2rem;
          top: 2rem;
          transition: all 0.2s ease-in-out;
          &:hover {
            font-size: 2.2rem;
          }
        }
        padding: 2rem;
        input {
          margin: 1rem 0;
          display: block;
        }
      }
    }
  }

  @media only screen and (max-width: 768px) {
    .popup {
      .popup_content {
        width: 95%;
        form {
          label {
            font-size: 0.85rem;
          }
          h1 {
            margin-top: 3rem;
            font-size: 1rem;
          }
          input[type="text"],
          input[type="email"],
          select {
            font-size: 1rem;
            height: 1.8rem;
            &::placeholder {
              color: white;
              font-weight: 700;
              opacity: 0.2;
            }
            &:focus {
              outline: none;
            }
          }
        }
      }
    }
  }

  .body {
    min-height: 100vh;
    max-width: 100vw;
    h1 {
      text-align: center;
      font-size: 3rem;
    }
    .construction {
      padding: 0rem;
      width: min-content;
      height: min-content;
      margin: 1rem auto;
      animation: rotateimage 5s linear infinite;
    }
    @keyframes rotateimage {
      0% {
        transform: rotateZ(0deg);
      }
      100% {
        transform-origin: center;
        transform: rotateZ(360deg);
      }
    }
  }
}
