@import "./components/common/common.module.scss";

body {
  background-color: $background_primary;
  background-image: url(../src/assets/img/illustration1.svg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: rgb(231, 231, 231);
}
