@import "../common/common.module.scss";

testomonial {
  .header {
    font-size: $headerbig;
    font-weight: 700;
    text-align: center;
  }
  .testomonials {
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    // grid-auto-rows: min-content;
    .wrapper {
      background: $background_primary;
      width: 100%;
      .testomonial {
        // flex: 1;
        margin: 1rem 2rem;
        position: relative;
        background: $background_secondary;
        padding: 4rem 2rem;
        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;
        .testomonial_desc {
          font-size: $desc_small;
          // max-height: 220px;
          // height: 220px;
          // overflow-y: scroll;
          padding-right: 1rem;
          .desc_title {
            text-align: center;
            text-decoration: underline;
            margin-bottom: 0.5rem;
            font-weight: 600;
          }
          &::-webkit-scrollbar-track {
            // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: #f5f5f5;
          }
          &::-webkit-scrollbar {
            width: 1px;
            // width: 10px;
            background-color: #f5f5f5;
          }
          &::-webkit-scrollbar-thumb {
            background-color: #000000;
            // border: 2px solid #555555;
            border: 1px solid $mayan_color;
          }
          // color: crimson;
          text-align: justify;
        }
        .testomonial_name {
          margin: 1rem 0rem 0 0;
          a {
            text-decoration: none;
          }
          span {
            color: $mayan_color;
          }
        }
        &::after {
          content: ",,";
          font-size: 7rem;
          top: -5rem;
          color: burlywood;
          position: absolute;
        }
        .scroller {
          width: 100%;
          img {
            width: 20%;
            height: 200px;
            object-fit: cover;
            object-position: top;
            transition: 10s all ease-in-out;
            &:hover {
              object-position: bottom;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  testomonial {
    .header {
      font-size: $headerbig;
    }
  }
}
