@import "../common/common.module.scss";

works {
  margin: 5rem auto;
  display: flex;
  flex-wrap: wrap;
  .work {
    padding: 1rem;
    margin: 1rem;
    height: auto;
    background: $background_teal;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    flex: 1 1 25%;
    max-width: 28%;
    .work_image {
      margin: 0.5rem auto;
      width: max-content;
      font-size: 2rem;
      position: relative;
      &::before {
        content: "";
        height: 50px;
        width: 50px;
        background: chocolate;
        position: absolute;
        border-radius: 50%;
        top: -0.2rem;
        left: -0.4rem;
        opacity: 0.3;
      }
    }
    .work_title {
      font-size: $headersmall;
      font-weight: 700;
      text-align: center;
      margin: 0.5rem 0rem;
    }
    .work_desc {
      font-size: $desc;
      font-weight: 400;
      text-align: center;
      width: 100%;
    }
  }
  .readmore {
    margin: 1rem 0;
    margin-left: auto;
    width: max-content;
    padding: 0.2rem 0.5rem;
    background: grey;
    border-radius: 0.5rem;
    cursor: pointer;
    color: $background_secondary;
    font-weight: 700;
    transition: 0.2s ease-in-out;
    span {
      font-weight: bold;
      font-size: inherit;
    }
    &:hover {
      transform: translateY(-5px);
    }
  }
}
